home/.config/jesseduffield/lazygit/
home/.config/jesseduffield/lazydocker/development.log
home/.config/karabiner/automatic_backups/
home/.config/zsh/.zcompdump
home/.config/nvim/.netrwhist

extras/osx-config/
